-- src\base\meta\functions\meta.test_schema_exists.UserDefinedFunction.sql 
-- ---------------
-- script_name: meta.test_schema_exists.Function.sql 
-- script_author: Adam Heinz
-- script_license: MIT 
-- script_date 23 April 2023 
-- ---------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   FUNCTION [meta].[test_schema_exists] ( 
	 @p_test_schema nvarchar(128)	/* schema name to verify */ 
) 
RETURNS bit 
/* test schema exists  
-- Returns False if a given schema does not exist 
-- Query derived from Information Schema Schemata view definition 
*/ 
AS 
BEGIN 
	
	DECLARE /* return value */ 
	@assert bit = 'False'  

	DECLARE /* prevent parameter sniffing */ 
	 @v_test_schema nvarchar(128) = @p_test_schema 

	IF EXISTS ( 
		SELECT 1  
		FROM [sys].[schemas] as s 
		WHERE QUOTENAME(s.[name]) = QUOTENAME(@v_test_schema) 
	) 
	SET @assert = 'True'  

	RETURN @assert  
END 
GO
